.storyline-container {
  margin-bottom: 1rem;
  padding-left: 11rem;
  padding-right: 11rem;
  text-align: left;
  margin-left: 6rem;
}

.storyline-header {
  cursor: pointer;
}

.chevron-icon {
  color: #aaa;
  position: relative;
  top: 3px;
}
