.game-container {
  display: flex;
  flex-direction: column;
  max-width: 80%;
  background-color: rgba(87, 76, 76, 0.205);
  box-shadow: 0 0 1.1rem rgba(102, 149, 187, 0.5);
  border-radius: 1.4rem;
  padding: 2rem;
}
