.game-description {
  display: flex;
  padding-top: 1rem;
  padding-bottom: 1rem;
  min-height: 6rem;
  width: 65rem;
  text-align: left;
  margin-left:  17rem;

 
  color: white;
  
  background-image: linear-gradient(
      to right,
      transparent,
      rgb(85, 85, 85) 5%,
      rgb(85, 85, 85) 95%,
      transparent
    ),
    linear-gradient(
      to right,
      transparent,
      rgb(85, 85, 85) 5%,
      rgb(85, 85, 85) 95%,
      transparent
    );
  background-position: top, bottom;
  background-size: 100% 1px, 100% 1px;
  background-repeat: no-repeat, no-repeat;
}
