.media-container {
  max-width: 70%;
  width: 90rem;
  
}
.screenshot.small:hover {
  transform: translateY(-2px);
  cursor: pointer;
}

.button-carousel-1 {
  max-width: 100%;
  justify-content: space-between;
  cursor: pointer;
}
.button-carousel-2 {
  max-width: 100%;
  justify-content: space-between;
  cursor: pointer;
}


.button-carousel-1 button {
  background-color: #1e1c1c;
  border: 1px solid #141313;
  height: 100%;
  width: 40%;
  cursor: pointer;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.button-carousel-2 button {
  background-color: #1e1c1c;
  border: 1px solid #141313;
  height: 100%;
  width: 40%;
  cursor: pointer;
  justify-content: center;
  transition: background-color 0.3s ease;
  margin-left: 2.65rem;
}


.button-carousel-1 button:hover {
  background-color: #e0e0e0;
  transition: background-color 0.3s ease;
}

.button-carousel-2 button:hover {
  background-color: #e0e0e0;
  transition: background-color 0.3s ease;
}

.media-container {
  margin-bottom: 1rem;
}