.navbar {
    display: flex;
    justify-content: space-between;
    
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    /* flex-direction: column; */
}

.navbar-left-container, .navbar-middle-container, .navbar-right-container
 {
    display: flex;
}
.navbar-left-container {

}
.navbar-middle-container {

}

.navbar-right-container {

}