#root {
  /* The max-width property below enables resizing when the window changes. */
  /* max-width: 100%; */
  width: 100vw;
  margin: 0 auto;
  padding: 0rem;
  text-align: center;
}

header {
  position: sticky;
  top: 0;
}

/* a {
  background-color: blue;
} */