.button {
    border-radius: 4px;
    font-family: inherit;
    cursor: pointer;
}

.button.default {
    background-color: #e0e0e0;
    color: #333;
}

.button.watchlist {
    color: white;
    margin-left: auto;
}

.button.search {
    background-color: #093057;
    color: white;
}

.button.small {
    padding: 4px 8px;
    font-size: 0.8rem;
}

.button.medium {
    padding: 8px 16px;
    font-size: 1rem;
}

.button.large {
    padding: 12px 24px;
    font-size: 1.2rem;
}